html {
    box-sizing: border-box;
    min-height: 100%;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient( 15deg, #13547A 0%, #80D0C7 100% );
    font-family: 'Monserrat', sans-serif;
    min-height: 100%;
}

h1, h2, p {
    margin: 0;
}

.page > .header,
.page > .footer,
.container .principal-content {
    padding: 1rem;
}
.container {
    border: 2px dotted orange;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: calc( 100vh - ( 69px + 50px ) );
}
header {
    background-color: #CDDC39;
}
.principal-content {
    background-color: #B2DFDB;
    margin: 0 auto;
    max-width: 1024px;
}
.principal-content h2 {
    margin: 1rem 0;
}
.principal-content .outstanding-image {
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem 0;
    width: 55%;
}    
.footer {
    background-color: #212121;
    color: white;
}